@charset "UTF-8";

body {
	margin: 0px;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #808080;
}

.Banner {
	background-color: #FAC843;
	padding: 20px;
	text-align: center;
	width: 100%;
	color: #808080;
	font-size: 13px;
}

#naver {
	font-family: fantasy;
}

#store:hover {
	text-decoration: underline;
}

.Banner2 {
	width: 100%;
}

#title {
	color: black;
	font-weight: bold;
}

#button {
	width: 100px;
	height: 15px;
	background-color: #FAC843;
	border: none;
	color: #808080;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px;
	cursor: pointer;
}

#button2 {
	width: 30px;
	background-color: #0086C6;
	border: none;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 4pt;
	margin: 4px;
	cursor: pointer;
}

#service {
	font-size: 4pt;
}

.Banner3 {
	overflow: hidden;
	background-color: #FFFFFF;
	font-size: 11pt;
}

.Banner3 a {
	float: left;
	display: block;
	color: #C0C0C0;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.Banner3 a:hover {
	color: black;
}

.all_product:hover {
	color: yellow;
}

.r-link {
	display: var(- -rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
	color: var(- -rLinkColor) !important;
	text-decoration: var(- -rLinkTextDecoration, none) !important;
}
/* 
text flat
*/
.text-flat {
	position: relative;
	font-family: 'Binggrae-Bold' !important;
	text-align: center;
	color: #000000;
	margin: 0;
}

body {
	margin: 0;
	text-align: center;
}

.text-flat::before, .text-flat::after {
	content: "";
	background-color: var(- -textFlatBackgroundColor, #000);
	position: absolute;
	z-index: -1;
}

.text-flat__label {
	padding: var(- -textFlatPadding, .25rem);
	display: block;
	text-align: center
}

.text-flat {
	-uiTextFlatPlanesOpacityDefault: var(- -textFlatPlanesOpacityDefault, 0);
	-uiTextFlatPlanesTransitionPropertyDefault: var(- -textFlatPlanesTransitionPropertyDefault, transform, opacity);
	-uiTextFlatPlanesTransitionDurationDefault: var(- -textFlatPlanesTransitionDurationDefault, .2s);
	-uiTextFlatPlanesTransitionTimingDefault: var(- -textFlatPlanesTransitionTimingDefault, ease-out);
	-uiTextFlatPlanesTransitionDelayDefault: var(- -textFlatPlanesTransitionDelayDefault, 0, .03s);
	overflow: hidden;
	transition-property: var(- -textFlatTransitionProperty, color); /* 1 */
	transition-duration: var(- -textFlatFirstPlaneTransitionDuration, .3s);
	/* 1 */
	transition-timing-function: var(- -textFlatTransitionTimingFunction, ease-out);
	/* 1 */
	transition-delay: var(- -textFlatTransitionDelay); /* 1 */
}

.text-flat::before {
	width: var(- -textFlatFirstPlaneWidth, auto);
	height: var(- -textFlatFirstPlaneHeight, auto);
	top: var(- -textFlatFirstPlaneTop, auto);
	right: var(- -textFlatFirstPlaneRight, auto);
	bottom: var(- -textFlatFirstPlaneBottom, auto);
	left: var(- -textFlatFirstPlaneLeft, auto);
	opacity: var(- -textFlatFirstPlaneOpacity, var(- -uiTextFlatPlanesOpacityDefault));
	transform: var(- -textFlatFirstPlaneTransform);
	transition-property: var(- -textFlatFirstPlaneTransitionProperty, var(- 
		 -uiTextFlatPlanesTransitionPropertyDefault)); /* 1 */
	transition-duration: var(- -textFlatFirstPlaneTransitionDuration, var(- 
		 -uiTextFlatPlanesTransitionDurationDefault)); /* 1 */
	transition-timing-function: var(- -textFlatFirstPlaneTransitionTimingFunction, var(- 
		 -uiTextFlatPlanesTransitionTimingDefault)); /* 1 */
	transition-delay: var(- -textFlatFirstPlaneTransitionDelay, var(- 
		 -uiTextFlatPlanesTransitionDelayDefault)); /* 1 */
}

.text-flat::after {
	width: var(- -textFlatSecondPlaneWidth, auto);
	height: var(- -textFlatSecondPlaneHeigth, auto);
	top: var(- -textFlatSecondPlaneTop, auto);
	right: var(- -textFlatSecondPlaneRight, auto);
	bottom: var(- -textFlatSecondPlaneBottom, auto);
	left: var(- -textFlatSecondPlaneLeft, auto);
	transform: var(- -textFlatSecondPlaneTransform);
	opacity: var(- -textFlatSecondPlaneOpacity, var(-  
		 -uiTextFlatPlanesOpacityDefault));
	transition-property: var(- -textFlatSecondPlaneTransitionProperty, var(- 
		 -uiTextFlatPlanesTransitionPropertyDefault)); /* 1 */
	transition-duration: var(- -textFlatSecondPlaneTransitionDuration, var(- 
		 -uiTextFlatPlanesTransitionDurationDefault)); /* 1 */
	transition-timing-function: var(- -textFlatSecondPlaneTransitionTimingFunction, var(- 
		 -uiTextFlatPlanesTransitionTimingDefault)); /* 1 */
	transition-delay: var(- -textFlatSecondPlaneTransitionDelay, var(- 
		 -uiTextFlatPlanesTransitionDelayDefault)); /* 1 */
}
/*
adapters
*/
.text-flat:not(.r-link):hover {
	color: var(- -textFlatColorHover, #fff);
}

.r-link.text-flat:hover {
	-rLinkColor: var(- -textFlatColorHover, #fff);
}

.text-flat_v12 {
	-textFlatFirstPlaneWidth: 51%;
	-textFlatFirstPlaneHeight: 100%;
	-textFlatFirstPlaneTransform: translate3d(-100%, 0, 0) rotate(-45deg);
	-textFlatFirstPlaneTransitionDuration: .35s;
	-textFlatSecondPlaneWidth: 51%;
	-textFlatSecondPlaneHeigth: 100%;
	-textFlatSecondPlaneRight: 0;
	-textFlatSecondPlaneTransform: translate3d(100%, 0, 0) rotate(-45deg);
	-textFlatSecondPlaneTransitionDuration: .35s;
}

.text-flat_v12:hover {
	-textFlatFirstPlaneTransform: translate3d(0, 0, 0) rotate(0);
	-textFlatFirstPlaneOpacity: 1;
	-textFlatSecondPlaneTransform: translate3d(0, 0, 0) rotate(0);
	-textFlatSecondPlaneOpacity: 1;
}
/*
SETTINGS
*/
:root {
	-textFlatBackgroundColor: #fcdf33;
	-textFlatPadding: .75rem;
}
/*
=====
DEMO
=====
*/
.text-flat {
	-linkTextColorHover: #fff;
}